.inputTitle {
  height: 56px;
  background: #ffffff;
  border: 1px solid rgba(53, 52, 82, 0.32);
  border-radius: 10px;
}
.inputDescription {
  height: 136px;
  padding-top: 10px;
  background: #ffffff;
  border: 1px solid rgba(53, 52, 82, 0.32);
  border-radius: 10px;
  resize: none;
}
.miniUploadReviewbox {
  height: 81px;
  width: 145px;
  background: #ffffff;
  border: 1px solid rgba(53, 52, 82, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.miniUploadReviewbox:hover {
  background: #978f8f;
  border: 1px solid rgba(192, 191, 224, 0.1);
}
