.title {
  div {
    video {
      border-radius: 50% !important;
      object-fit: cover !important;
      width: 200px !important;
      height: 200px !important;
      transform: scale(-1, 1) !important;
    }
    .myVideo-dimensions {
      width: 200px !important;
      height: 200px !important;
    }
    width: 200px !important;
    height: 200px !important;
  }
}
